* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #F6DCAC;
    background-image: url(img/crteR.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}

#canvas {
    background: #80C4E9;
    box-shadow: -10px 10px #F85525, 
                10px -10px #F85525, 
                -20px 20px #F1A512, 
                20px -20px #F1A512, 
                -30px 30px #2BAF90, 
                30px -30px #2BAF90;
    border-radius: 2.5px;
}

.canvasPosition {
    margin-top: 100px; 
    display: flex; 
    justify-content: center; 
}

.centerTocke {
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

#tocke {
    width: 30px;
    border: #F85525 solid 3px;
    font-size: 25px;
    text-align: center;
}

.centerPause {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.centerStart {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

#pauseResumeBtn, #startBtn {
    padding: 10px 20px;
    font-size: 18px;
    background-color: #F85525;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    transition: 0.3s;
}

#pauseResumeBtn:hover, #startBtn:hover {
    background-color: #F1A512;
}