body {
    background-color: #F6DCAC;
    background-image: url(img/);
}

#canvas {
    background: #80C4E9;
    box-shadow: 15px 15px #F85525, 25px 25px #F1A512, 35px 35px #2BAF90;
}

.canvasPosition {
    margin-top: 100px;
    display: flex;
    justify-content: center;
}
